@layer reset, base, tokens, recipes, utilities;

@layer reset{
  html,:host {
    --font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    font-family: var(--global-font-body, var(--font-fallback));
}

  *,::before,::after,::backdrop,::file-selector-button {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: var(--global-color-border, currentColor);
}

  hr {
    height: 0px;
    color: inherit;
    border-top-width: 1px;
}

  body {
    height: 100%;
    line-height: inherit;
}

  img {
    border-style: none;
}

  img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle;
}

  img,video {
    max-width: 100%;
    height: auto;
}

  h1,h2,h3,h4,h5,h6 {
    text-wrap: balance;
    font-size: inherit;
    font-weight: inherit;
}

  p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word;
}

  ol,ul,menu {
    list-style: none;
}

  button,input:where([type='button'], [type='reset'], [type='submit']),::file-selector-button {
    appearance: button;
    -webkit-appearance: button;
}

  button,input,optgroup,select,textarea,::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    background: var(--colors-transparent);
}

  ::placeholder {
    opacity: 1;
    --placeholder-fallback: color-mix(in srgb, currentColor 50%, transparent);
    color: var(--global-color-placeholder, var(--placeholder-fallback));
}

  textarea {
    resize: vertical;
}

  table {
    text-indent: 0px;
    border-collapse: collapse;
    border-color: inherit;
}

  summary {
    display: list-item;
}

  small {
    font-size: 80%;
}

  sub,sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

  sub {
    bottom: -0.25em;
}

  sup {
    top: -0.5em;
}

  dialog {
    padding: 0px;
}

  a {
    color: inherit;
    text-decoration: inherit;
}

  abbr:where([title]) {
    text-decoration: underline dotted;
}

  b,strong {
    font-weight: bolder;
}

  code,kbd,samp,pre {
    --font-mono-fallback: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New';
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-family: var(--global-font-mono, var(--font-mono-fallback));
    font-size: 1em;
}

  progress {
    vertical-align: baseline;
}

  ::-webkit-search-decoration,::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

  ::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto;
}

  :-moz-ui-invalid {
    box-shadow: none;
}

  :-moz-focusring {
    outline: auto;
}

  [hidden]:where(:not([hidden='until-found'])) {
    display: none !important;
}
}

@layer base{
  :root {
    --made-with-panda: '🐼';
}

  ::placeholder {
    color: #bbb;
}

  * {
    box-sizing: border-box;
}

  html,#wrap {
    height: 100%;
}

  body {
    background: #f7f7f7;
    font-size: 14px;
}

  a {
    text-decoration: none;
    color: inherit;
}

  button {
    cursor: pointer;
    border: 0;
    background: none;
    padding: var(--spacing-0);
}

  *,::before,::after,::backdrop {
    --blur: /*-*/ /*-*/;
    --brightness: /*-*/ /*-*/;
    --contrast: /*-*/ /*-*/;
    --grayscale: /*-*/ /*-*/;
    --hue-rotate: /*-*/ /*-*/;
    --invert: /*-*/ /*-*/;
    --saturate: /*-*/ /*-*/;
    --sepia: /*-*/ /*-*/;
    --drop-shadow: /*-*/ /*-*/;
    --backdrop-blur: /*-*/ /*-*/;
    --backdrop-brightness: /*-*/ /*-*/;
    --backdrop-contrast: /*-*/ /*-*/;
    --backdrop-grayscale: /*-*/ /*-*/;
    --backdrop-hue-rotate: /*-*/ /*-*/;
    --backdrop-invert: /*-*/ /*-*/;
    --backdrop-opacity: /*-*/ /*-*/;
    --backdrop-saturate: /*-*/ /*-*/;
    --backdrop-sepia: /*-*/ /*-*/;
    --gradient-from-position: /*-*/ /*-*/;
    --gradient-to-position: /*-*/ /*-*/;
    --gradient-via-position: /*-*/ /*-*/;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --rotate-x: 0;
    --rotate-y: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
}

  @media (prefers-color-scheme: dark) {
    body {
      background: rgb(41, 41, 41);
}
}
}

@layer tokens{
  :where(:root, :host) {
    --aspect-ratios-square: 1 / 1;
    --aspect-ratios-landscape: 4 / 3;
    --aspect-ratios-portrait: 3 / 4;
    --aspect-ratios-wide: 16 / 9;
    --aspect-ratios-ultrawide: 18 / 5;
    --aspect-ratios-golden: 1.618 / 1;
    --borders-none: none;
    --easings-default: cubic-bezier(0.4, 0, 0.2, 1);
    --easings-linear: linear;
    --easings-in: cubic-bezier(0.4, 0, 1, 1);
    --easings-out: cubic-bezier(0, 0, 0.2, 1);
    --easings-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --durations-fastest: 50ms;
    --durations-faster: 100ms;
    --durations-fast: 150ms;
    --durations-normal: 200ms;
    --durations-slow: 300ms;
    --durations-slower: 400ms;
    --durations-slowest: 500ms;
    --radii-xs: 0.125rem;
    --radii-sm: 0.25rem;
    --radii-md: 0.375rem;
    --radii-lg: 0.5rem;
    --radii-xl: 0.75rem;
    --radii-2xl: 1rem;
    --radii-3xl: 1.5rem;
    --radii-4xl: 2rem;
    --radii-full: 9999px;
    --font-weights-thin: 100;
    --font-weights-extralight: 200;
    --font-weights-light: 300;
    --font-weights-normal: 400;
    --font-weights-medium: 500;
    --font-weights-semibold: 600;
    --font-weights-bold: 700;
    --font-weights-extrabold: 800;
    --font-weights-black: 900;
    --line-heights-none: 1;
    --line-heights-tight: 1.25;
    --line-heights-snug: 1.375;
    --line-heights-normal: 1.5;
    --line-heights-relaxed: 1.625;
    --line-heights-loose: 2;
    --fonts-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --fonts-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --letter-spacings-tighter: -0.05em;
    --letter-spacings-tight: -0.025em;
    --letter-spacings-normal: 0em;
    --letter-spacings-wide: 0.025em;
    --letter-spacings-wider: 0.05em;
    --letter-spacings-widest: 0.1em;
    --font-sizes-2xs: 0.5rem;
    --font-sizes-xs: 0.75rem;
    --font-sizes-sm: 0.875rem;
    --font-sizes-md: 1rem;
    --font-sizes-lg: 1.125rem;
    --font-sizes-xl: 1.25rem;
    --font-sizes-2xl: 1.5rem;
    --font-sizes-3xl: 1.875rem;
    --font-sizes-4xl: 2.25rem;
    --font-sizes-5xl: 3rem;
    --font-sizes-6xl: 3.75rem;
    --font-sizes-7xl: 4.5rem;
    --font-sizes-8xl: 6rem;
    --font-sizes-9xl: 8rem;
    --shadows-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadows-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadows-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadows-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadows-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --shadows-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --shadows-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    --colors-current: currentColor;
    --colors-black: #000;
    --colors-white: #fff;
    --colors-transparent: rgb(0 0 0 / 0);
    --colors-rose-50: #fff1f2;
    --colors-rose-100: #ffe4e6;
    --colors-rose-200: #fecdd3;
    --colors-rose-300: #fda4af;
    --colors-rose-400: #fb7185;
    --colors-rose-500: #f43f5e;
    --colors-rose-600: #e11d48;
    --colors-rose-700: #be123c;
    --colors-rose-800: #9f1239;
    --colors-rose-900: #881337;
    --colors-rose-950: #4c0519;
    --colors-pink-50: #fdf2f8;
    --colors-pink-100: #fce7f3;
    --colors-pink-200: #fbcfe8;
    --colors-pink-300: #f9a8d4;
    --colors-pink-400: #f472b6;
    --colors-pink-500: #ec4899;
    --colors-pink-600: #db2777;
    --colors-pink-700: #be185d;
    --colors-pink-800: #9d174d;
    --colors-pink-900: #831843;
    --colors-pink-950: #500724;
    --colors-fuchsia-50: #fdf4ff;
    --colors-fuchsia-100: #fae8ff;
    --colors-fuchsia-200: #f5d0fe;
    --colors-fuchsia-300: #f0abfc;
    --colors-fuchsia-400: #e879f9;
    --colors-fuchsia-500: #d946ef;
    --colors-fuchsia-600: #c026d3;
    --colors-fuchsia-700: #a21caf;
    --colors-fuchsia-800: #86198f;
    --colors-fuchsia-900: #701a75;
    --colors-fuchsia-950: #4a044e;
    --colors-purple-50: #faf5ff;
    --colors-purple-100: #f3e8ff;
    --colors-purple-200: #e9d5ff;
    --colors-purple-300: #d8b4fe;
    --colors-purple-400: #c084fc;
    --colors-purple-500: #a855f7;
    --colors-purple-600: #9333ea;
    --colors-purple-700: #7e22ce;
    --colors-purple-800: #6b21a8;
    --colors-purple-900: #581c87;
    --colors-purple-950: #3b0764;
    --colors-violet-50: #f5f3ff;
    --colors-violet-100: #ede9fe;
    --colors-violet-200: #ddd6fe;
    --colors-violet-300: #c4b5fd;
    --colors-violet-400: #a78bfa;
    --colors-violet-500: #8b5cf6;
    --colors-violet-600: #7c3aed;
    --colors-violet-700: #6d28d9;
    --colors-violet-800: #5b21b6;
    --colors-violet-900: #4c1d95;
    --colors-violet-950: #2e1065;
    --colors-indigo-50: #eef2ff;
    --colors-indigo-100: #e0e7ff;
    --colors-indigo-200: #c7d2fe;
    --colors-indigo-300: #a5b4fc;
    --colors-indigo-400: #818cf8;
    --colors-indigo-500: #6366f1;
    --colors-indigo-600: #4f46e5;
    --colors-indigo-700: #4338ca;
    --colors-indigo-800: #3730a3;
    --colors-indigo-900: #312e81;
    --colors-indigo-950: #1e1b4b;
    --colors-blue-50: #eff6ff;
    --colors-blue-100: #dbeafe;
    --colors-blue-200: #bfdbfe;
    --colors-blue-300: #93c5fd;
    --colors-blue-400: #60a5fa;
    --colors-blue-500: #3b82f6;
    --colors-blue-600: #2563eb;
    --colors-blue-700: #1d4ed8;
    --colors-blue-800: #1e40af;
    --colors-blue-900: #1e3a8a;
    --colors-blue-950: #172554;
    --colors-sky-50: #f0f9ff;
    --colors-sky-100: #e0f2fe;
    --colors-sky-200: #bae6fd;
    --colors-sky-300: #7dd3fc;
    --colors-sky-400: #38bdf8;
    --colors-sky-500: #0ea5e9;
    --colors-sky-600: #0284c7;
    --colors-sky-700: #0369a1;
    --colors-sky-800: #075985;
    --colors-sky-900: #0c4a6e;
    --colors-sky-950: #082f49;
    --colors-cyan-50: #ecfeff;
    --colors-cyan-100: #cffafe;
    --colors-cyan-200: #a5f3fc;
    --colors-cyan-300: #67e8f9;
    --colors-cyan-400: #22d3ee;
    --colors-cyan-500: #06b6d4;
    --colors-cyan-600: #0891b2;
    --colors-cyan-700: #0e7490;
    --colors-cyan-800: #155e75;
    --colors-cyan-900: #164e63;
    --colors-cyan-950: #083344;
    --colors-teal-50: #f0fdfa;
    --colors-teal-100: #ccfbf1;
    --colors-teal-200: #99f6e4;
    --colors-teal-300: #5eead4;
    --colors-teal-400: #2dd4bf;
    --colors-teal-500: #14b8a6;
    --colors-teal-600: #0d9488;
    --colors-teal-700: #0f766e;
    --colors-teal-800: #115e59;
    --colors-teal-900: #134e4a;
    --colors-teal-950: #042f2e;
    --colors-emerald-50: #ecfdf5;
    --colors-emerald-100: #d1fae5;
    --colors-emerald-200: #a7f3d0;
    --colors-emerald-300: #6ee7b7;
    --colors-emerald-400: #34d399;
    --colors-emerald-500: #10b981;
    --colors-emerald-600: #059669;
    --colors-emerald-700: #047857;
    --colors-emerald-800: #065f46;
    --colors-emerald-900: #064e3b;
    --colors-emerald-950: #022c22;
    --colors-green-50: #f0fdf4;
    --colors-green-100: #dcfce7;
    --colors-green-200: #bbf7d0;
    --colors-green-300: #86efac;
    --colors-green-400: #4ade80;
    --colors-green-500: #22c55e;
    --colors-green-600: #16a34a;
    --colors-green-700: #15803d;
    --colors-green-800: #166534;
    --colors-green-900: #14532d;
    --colors-green-950: #052e16;
    --colors-lime-50: #f7fee7;
    --colors-lime-100: #ecfccb;
    --colors-lime-200: #d9f99d;
    --colors-lime-300: #bef264;
    --colors-lime-400: #a3e635;
    --colors-lime-500: #84cc16;
    --colors-lime-600: #65a30d;
    --colors-lime-700: #4d7c0f;
    --colors-lime-800: #3f6212;
    --colors-lime-900: #365314;
    --colors-lime-950: #1a2e05;
    --colors-yellow-50: #fefce8;
    --colors-yellow-100: #fef9c3;
    --colors-yellow-200: #fef08a;
    --colors-yellow-300: #fde047;
    --colors-yellow-400: #facc15;
    --colors-yellow-500: #eab308;
    --colors-yellow-600: #ca8a04;
    --colors-yellow-700: #a16207;
    --colors-yellow-800: #854d0e;
    --colors-yellow-900: #713f12;
    --colors-yellow-950: #422006;
    --colors-amber-50: #fffbeb;
    --colors-amber-100: #fef3c7;
    --colors-amber-200: #fde68a;
    --colors-amber-300: #fcd34d;
    --colors-amber-400: #fbbf24;
    --colors-amber-500: #f59e0b;
    --colors-amber-600: #d97706;
    --colors-amber-700: #b45309;
    --colors-amber-800: #92400e;
    --colors-amber-900: #78350f;
    --colors-amber-950: #451a03;
    --colors-orange-50: #fff7ed;
    --colors-orange-100: #ffedd5;
    --colors-orange-200: #fed7aa;
    --colors-orange-300: #fdba74;
    --colors-orange-400: #fb923c;
    --colors-orange-500: #f97316;
    --colors-orange-600: #ea580c;
    --colors-orange-700: #c2410c;
    --colors-orange-800: #9a3412;
    --colors-orange-900: #7c2d12;
    --colors-orange-950: #431407;
    --colors-red-50: #fef2f2;
    --colors-red-100: #fee2e2;
    --colors-red-200: #fecaca;
    --colors-red-300: #fca5a5;
    --colors-red-400: #f87171;
    --colors-red-500: #ef4444;
    --colors-red-600: #dc2626;
    --colors-red-700: #b91c1c;
    --colors-red-800: #991b1b;
    --colors-red-900: #7f1d1d;
    --colors-red-950: #450a0a;
    --colors-neutral-50: #fafafa;
    --colors-neutral-100: #f5f5f5;
    --colors-neutral-200: #e5e5e5;
    --colors-neutral-300: #d4d4d4;
    --colors-neutral-400: #a3a3a3;
    --colors-neutral-500: #737373;
    --colors-neutral-600: #525252;
    --colors-neutral-700: #404040;
    --colors-neutral-800: #262626;
    --colors-neutral-900: #171717;
    --colors-neutral-950: #0a0a0a;
    --colors-stone-50: #fafaf9;
    --colors-stone-100: #f5f5f4;
    --colors-stone-200: #e7e5e4;
    --colors-stone-300: #d6d3d1;
    --colors-stone-400: #a8a29e;
    --colors-stone-500: #78716c;
    --colors-stone-600: #57534e;
    --colors-stone-700: #44403c;
    --colors-stone-800: #292524;
    --colors-stone-900: #1c1917;
    --colors-stone-950: #0c0a09;
    --colors-zinc-50: #fafafa;
    --colors-zinc-100: #f4f4f5;
    --colors-zinc-200: #e4e4e7;
    --colors-zinc-300: #d4d4d8;
    --colors-zinc-400: #a1a1aa;
    --colors-zinc-500: #71717a;
    --colors-zinc-600: #52525b;
    --colors-zinc-700: #3f3f46;
    --colors-zinc-800: #27272a;
    --colors-zinc-900: #18181b;
    --colors-zinc-950: #09090b;
    --colors-gray-50: #f9fafb;
    --colors-gray-100: #f3f4f6;
    --colors-gray-200: #e5e7eb;
    --colors-gray-300: #d1d5db;
    --colors-gray-400: #9ca3af;
    --colors-gray-500: #6b7280;
    --colors-gray-600: #4b5563;
    --colors-gray-700: #374151;
    --colors-gray-800: #1f2937;
    --colors-gray-900: #111827;
    --colors-gray-950: #030712;
    --colors-slate-50: #f8fafc;
    --colors-slate-100: #f1f5f9;
    --colors-slate-200: #e2e8f0;
    --colors-slate-300: #cbd5e1;
    --colors-slate-400: #94a3b8;
    --colors-slate-500: #64748b;
    --colors-slate-600: #475569;
    --colors-slate-700: #334155;
    --colors-slate-800: #1e293b;
    --colors-slate-900: #0f172a;
    --colors-slate-950: #020617;
    --blurs-sm: 4px;
    --blurs-base: 8px;
    --blurs-md: 12px;
    --blurs-lg: 16px;
    --blurs-xl: 24px;
    --blurs-2xl: 40px;
    --blurs-3xl: 64px;
    --spacing-0: 0rem;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-11: 2.75rem;
    --spacing-12: 3rem;
    --spacing-14: 3.5rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;
    --spacing-24: 6rem;
    --spacing-28: 7rem;
    --spacing-32: 8rem;
    --spacing-36: 9rem;
    --spacing-40: 10rem;
    --spacing-44: 11rem;
    --spacing-48: 12rem;
    --spacing-52: 13rem;
    --spacing-56: 14rem;
    --spacing-60: 15rem;
    --spacing-64: 16rem;
    --spacing-72: 18rem;
    --spacing-80: 20rem;
    --spacing-96: 24rem;
    --spacing-0\.5: 0.125rem;
    --spacing-1\.5: 0.375rem;
    --spacing-2\.5: 0.625rem;
    --spacing-3\.5: 0.875rem;
    --sizes-0: 0rem;
    --sizes-1: 0.25rem;
    --sizes-2: 0.5rem;
    --sizes-3: 0.75rem;
    --sizes-4: 1rem;
    --sizes-5: 1.25rem;
    --sizes-6: 1.5rem;
    --sizes-7: 1.75rem;
    --sizes-8: 2rem;
    --sizes-9: 2.25rem;
    --sizes-10: 2.5rem;
    --sizes-11: 2.75rem;
    --sizes-12: 3rem;
    --sizes-14: 3.5rem;
    --sizes-16: 4rem;
    --sizes-20: 5rem;
    --sizes-24: 6rem;
    --sizes-28: 7rem;
    --sizes-32: 8rem;
    --sizes-36: 9rem;
    --sizes-40: 10rem;
    --sizes-44: 11rem;
    --sizes-48: 12rem;
    --sizes-52: 13rem;
    --sizes-56: 14rem;
    --sizes-60: 15rem;
    --sizes-64: 16rem;
    --sizes-72: 18rem;
    --sizes-80: 20rem;
    --sizes-96: 24rem;
    --sizes-0\.5: 0.125rem;
    --sizes-1\.5: 0.375rem;
    --sizes-2\.5: 0.625rem;
    --sizes-3\.5: 0.875rem;
    --sizes-xs: 20rem;
    --sizes-sm: 24rem;
    --sizes-md: 28rem;
    --sizes-lg: 32rem;
    --sizes-xl: 36rem;
    --sizes-2xl: 42rem;
    --sizes-3xl: 48rem;
    --sizes-4xl: 56rem;
    --sizes-5xl: 64rem;
    --sizes-6xl: 72rem;
    --sizes-7xl: 80rem;
    --sizes-8xl: 90rem;
    --sizes-prose: 65ch;
    --sizes-full: 100%;
    --sizes-min: min-content;
    --sizes-max: max-content;
    --sizes-fit: fit-content;
    --sizes-breakpoint-sm: 640px;
    --sizes-breakpoint-md: 768px;
    --sizes-breakpoint-lg: 1024px;
    --sizes-breakpoint-xl: 1280px;
    --sizes-breakpoint-2xl: 1536px;
    --animations-spin: spin 1s linear infinite;
    --animations-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    --animations-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animations-bounce: bounce 1s infinite;
    --breakpoints-sm: 640px;
    --breakpoints-md: 768px;
    --breakpoints-lg: 1024px;
    --breakpoints-xl: 1280px;
    --breakpoints-2xl: 1536px;
}

  @keyframes spin {
    to {
      transform: rotate(360deg);
}
}

  @keyframes ping {
    75%,100% {
      transform: scale(2);
      opacity: 0;
}
}

  @keyframes pulse {
    50% {
      opacity: 0.5;
}
}

  @keyframes bounce {
    0%,100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
}

    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
}
}
}

@layer utilities{
  .op_0 {
    opacity: 0;
}

  .op_1 {
    opacity: 1;
}

  .trs_opacity {
    transition-property: var(--transition-prop, opacity);
    transition-timing-function: var(--transition-easing, cubic-bezier(0.4, 0, 0.2, 1));
    transition-duration: var(--transition-duration, 150ms);
}

  .p_0_20px {
    padding: 0 20px;
}

  .c_\#444 {
    color: #444;
}

  .d_block {
    display: block;
}

  .c_\#087e5b {
    color: #087e5b;
}

  .p_2px_0 {
    padding: 2px 0;
}

  .d_inline-block {
    display: inline-block;
}

  .w_80px {
    width: 80px;
}

  .c_\#fff {
    color: #fff;
}

  .bg_\#087e5b {
    background: #087e5b;
}

  .bd_1px_solid_\#087e5b {
    border: 1px solid #087e5b;
}

  .tsh_0px_0px_1px_\#075c43 {
    text-shadow: 0px 0px 1px #075c43;
}

  .ls_1 {
    letter-spacing: 1px;
}

  .h_200 {
    height: 200px;
}

  .d_flex {
    display: flex;
}

  .ov_hidden {
    overflow: hidden;
}

  .ti_-9999 {
    text-indent: -9999px;
}

  .c_\#666 {
    color: #666;
}

  .pos_sticky {
    position: sticky;
}

  .p_15px_0_15px_20px {
    padding: 15px 0 15px 20px;
}

  .bx-sh_0_2px_2px_rgba\(0\,_0\,_0\,_0\.1\) {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

  .h_50 {
    height: 50px;
}

  .bg_\#fff {
    background: #fff;
}

  .flex_1 {
    flex: 1 1 0%;
}

  .w_100\% {
    width: 100%;
}

  .p_5px {
    padding: 5px;
}

  .bd_0 {
    border: 0;
}

  .bg_transparent {
    background: var(--colors-transparent);
}

  .gap_3px {
    gap: 3px;
}

  .p_0_2px_2px_0 {
    padding: 0 2px 2px 0;
}

  .d_grid {
    display: grid;
}

  .gap_5px {
    gap: 5px;
}

  .p_1px {
    padding: 1px;
}

  .p_2px_5px {
    padding: 2px 5px;
}

  .tbl_fixed {
    table-layout: fixed;
}

  .ta_center {
    text-align: center;
}

  .bd-r_1px_solid_\#ddd {
    border-right: 1px solid #ddd;
}

  .bd-b_1px_solid_\#ddd {
    border-bottom: 1px solid #ddd;
}

  .bd-sp_0 {
    border-spacing: var(--spacing-0);
}

  .m_0 {
    margin: var(--spacing-0);
}

  .p_0_15px {
    padding: 0 15px;
}

  .bd_1px_solid_\#ddd {
    border: 1px solid #ddd;
}

  .bd-r_0 {
    border-right: 0;
}

  .ls_0\.3 {
    letter-spacing: 0.3px;
}

  .bd-t_1px_solid_\#eee {
    border-top: 1px solid #eee;
}

  .p_20px_0 {
    padding: 20px 0;
}

  .ov_auto {
    overflow: auto;
}

  .p_0_15px_0_0 {
    padding: 0 15px 0 0;
}

  .pos_relative {
    position: relative;
}

  .pos_absolute {
    position: absolute;
}

  .p_0_2px {
    padding: 0 2px;
}

  .c_\#bbb {
    color: #bbb;
}

  .m_20px_auto_0 {
    margin: 20px auto 0;
}

  .p_0 {
    padding: var(--spacing-0);
}

  .bg_\#f5f5f5 {
    background: #f5f5f5;
}

  .w_30px {
    width: 30px;
}

  .h_30px {
    height: 30px;
}

  .w_30\% {
    width: 30%;
}

  .min-w_60px {
    min-width: 60px;
}

  .tsh_none {
    text-shadow: none;
}

  .c_\#000 {
    color: #000;
}

  .trs_all_0\.3s {
    transition: all 0.3s;
}

  .cursor_pointer {
    cursor: pointer;
}

  .ls_1px {
    letter-spacing: 1px;
}

  .ta_left {
    text-align: left;
}

  .pos_fixed {
    position: fixed;
}

  .h_100\% {
    height: 100%;
}

  .z_50 {
    z-index: 50;
}

  .bdr_6px {
    border-radius: 6px;
}

  .bg_\#f9f9f9 {
    background: #f9f9f9;
}

  .z_100 {
    z-index: 100;
}

  .max-h_240px {
    max-height: 240px;
}

  .bx-sh_0_1px_12px_rgba\(0\,_0\,_0\,_0\.2\) {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
}

  .p_1px_1px {
    padding: 1px 1px;
}

  .p_0_14px {
    padding: 0 14px;
}

  .m_20px_20px_0 {
    margin: 20px 20px 0;
}

  .p_10px_10px_10px_20px {
    padding: 10px 10px 10px 20px;
}

  .bg_\#ffd4b9 {
    background: #ffd4b9;
}

  .bx-sh_1px_1px_4px_rgba\(0\,_0\,_0\,_0\.1\) {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

  .white-space_pre-wrap {
    white-space: pre-wrap;
}

  .gap_10 {
    gap: var(--spacing-10);
}

  .bg_none {
    background: none;
}

  .p_10px_20px_0 {
    padding: 10px 20px 0;
}

  .gap_10px {
    gap: 10px;
}

  .p_5px_0_10px {
    padding: 5px 0 10px;
}

  .p_20px_20px_0 {
    padding: 20px 20px 0;
}

  .p_0_20px_40px {
    padding: 0 20px 40px;
}

  .pb_40px {
    padding-bottom: 40px;
}

  .trs-dur_0\.15s {
    --transition-duration: 0.15s;
    transition-duration: 0.15s;
}

  .fs_12px {
    font-size: 12px;
}

  .lh_18px {
    line-height: 18px;
}

  .fw_bold {
    font-weight: var(--font-weights-bold);
}

  .fs_13px {
    font-size: 13px;
}

  .fs_14px {
    font-size: 14px;
}

  .lh_32px {
    line-height: 32px;
}

  .fw_700 {
    font-weight: 700;
}

  .trs-dur_0\.3s {
    --transition-duration: 0.3s;
    transition-duration: 0.3s;
}

  .ai_center {
    align-items: center;
}

  .jc_center {
    justify-content: center;
}

  .fs_0 {
    font-size: 0;
}

  .fw_400 {
    font-weight: 400;
}

  .top_100\% {
    top: 100%;
}

  .fs_16 {
    font-size: 16px;
}

  .fw_normal {
    font-weight: var(--font-weights-normal);
}

  .lh_20px {
    line-height: 20px;
}

  .pb_15px {
    padding-bottom: 15px;
}

  .grid-tc_1fr_24px {
    grid-template-columns: 1fr 24px;
}

  .flex-g_1 {
    flex-grow: 1;
}

  .pb_10px {
    padding-bottom: 10px;
}

  .lh_24px {
    line-height: 24px;
}

  .fs_15px {
    font-size: 15px;
}

  .fw_500 {
    font-weight: 500;
}

  .top_0 {
    top: var(--spacing-0);
}

  .mb_20px {
    margin-bottom: 20px;
}

  .lh_36px {
    line-height: 36px;
}

  .lh_40px {
    line-height: 40px;
}

  .bd-t-c_rgb\(220\,_220\,_220\) {
    border-top-color: rgb(220, 220, 220);
}

  .bd-b-c_rgb\(220\,_220\,_220\) {
    border-bottom-color: rgb(220, 220, 220);
}

  .fs_14 {
    font-size: 14px;
}

  .right_15px {
    right: 15px;
}

  .top_13px {
    top: 13px;
}

  .lh_0 {
    line-height: 0;
}

  .left_0 {
    left: var(--spacing-0);
}

  .lh_38px {
    line-height: 38px;
}

  .mt_4px {
    margin-top: 4px;
}

  .ov-y_scroll {
    overflow-y: scroll;
}

  .grid-tc_1fr_30px {
    grid-template-columns: 1fr 30px;
}

  .after\:d_inline-block::after {
    display: inline-block;
}

  .after\:w_40px::after {
    width: 40px;
}

  .after\:h_40px::after {
    height: 40px;
}

  .after\:bd_3px_solid_rgba\(255\,_255\,_255\,_0\)::after {
    border: 3px solid rgba(255, 255, 255, 0);
}

  .after\:bdr_50\%::after {
    border-radius: 50%;
}

  .after\:anim_spin_0\.85s_ease-in-out_infinite::after {
    animation: spin 0.85s ease-in-out infinite;
}

  .\[\&_\>_svg\]\:w_16px > svg {
    width: 16px;
}

  .\[\&_\>_svg\]\:h_auto > svg {
    height: auto;
}

  .\[\&_\>_svg\]\:cursor_pointer > svg {
    cursor: pointer;
}

  .\[\&_\>_svg\]\:stk_\#087e5b > svg {
    stroke: #087e5b;
}

  .\[\&_\>_svg\]\:op_0\.5 > svg {
    opacity: 0.5;
}

  .\[\&_th\,_\&_td\]\:bd-l_1px_solid_\#ddd th,.\[\&_th\,_\&_td\]\:bd-l_1px_solid_\#ddd td {
    border-left: 1px solid #ddd;
}

  .\[\&_th\,_\&_td\]\:bd-t_1px_solid_\#ddd th,.\[\&_th\,_\&_td\]\:bd-t_1px_solid_\#ddd td {
    border-top: 1px solid #ddd;
}

  .\[\&_th\]\:bg_\#f5f5f5 th {
    background: #f5f5f5;
}

  .\[\&_td\]\:p_5px td {
    padding: 5px;
}

  .\[\&_\>_svg\]\:w_18px > svg {
    width: 18px;
}

  .\[\&_\>_svg\]\:h_18px > svg {
    height: 18px;
}

  .\[\&\:last-of-type\]\:bd-r_1px_solid_rgb\(220\,_220\,_220\):last-of-type {
    border-right: 1px solid rgb(220, 220, 220);
}

  .\[\&\:last-child\]\:bd-b_0:last-child {
    border-bottom: 0;
}

  .after\:content_\"\"::after {
    content: "";
}

  .after\:bd-t-c_\#087e5b::after {
    border-top-color: #087e5b;
}

  .after\:bd-l-c_\#087e5b::after {
    border-left-color: #087e5b;
}

  .\[\&\:\:placeholder\]\:fs_13px::placeholder {
    font-size: 13px;
}

  .\[\&_\>_svg\]\:mt_2px > svg {
    margin-top: 2px;
}

  .\[\&_th\]\:lh_34px th {
    line-height: 34px;
}

  .\[\&_td\]\:lh_20px td {
    line-height: 20px;
}

  .hover\:op_0\.8:is(:hover, [data-hover]) {
    opacity: 0.8;
}

  .hover\:bg_\#eaeaea:is(:hover, [data-hover]) {
    background: #eaeaea;
}

  .\[\&\:hover\]\:bg_\#fff:hover {
    background: #fff;
}

  .\[\&_th\]\:\[\&\:first-of-type\]\:w_35\% th:first-of-type {
    width: 35%;
}

  .\[\&_td\]\:\[\&_p\]\:m_5px_0 td p {
    margin: 5px 0;
}

  @media (prefers-color-scheme: dark) {
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:c_\#ddd {
      color: #ddd;
}
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:c_\#05c38b {
      color: #05c38b;
}
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:c_\#999 {
      color: #999;
}
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:bg_rgb\(55\,_55\,_55\) {
      background: rgb(55, 55, 55);
}
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:c_\#fff {
      color: #fff;
}
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:c_\#bbb {
      color: #bbb;
}
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:bg_rgb\(44\,_44\,_44\) {
      background: rgb(44, 44, 44);
}
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:bd-r_0 {
      border-right: 0;
}
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:bd-c_rgb\(85\,_85\,_85\) {
      border-color: rgb(85, 85, 85);
}
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:bd-t-c_rgb\(50\,_50\,_50\) {
      border-top-color: rgb(50, 50, 50);
}
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:bd-b-c_rgb\(50\,_50\,_50\) {
      border-bottom-color: rgb(50, 50, 50);
}
    .\[\&_\>_svg\]\:\[\@media_\(prefers-color-scheme\:_dark\)\]\:stk_\#05c38b > svg {
      stroke: #05c38b;
}
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:\[\&_\>_svg\]\:stk_\#eee > svg {
      stroke: #eee;
}
    .\[\&_th\]\:\[\@media_\(prefers-color-scheme\:_dark\)\]\:bg_rgb\(44\,_44\,_44\) th {
      background: rgb(44, 44, 44);
}
    .\[\&_\>_svg\]\:\[\@media_\(prefers-color-scheme\:_dark\)\]\:stk_\#fff > svg {
      stroke: #fff;
}
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:\[\&\:last-of-type\]\:bd-r_1px_solid_rgb\(50\,_50\,_50\):last-of-type {
      border-right: 1px solid rgb(50, 50, 50);
}
    .\[\&_th\,_\&_td\]\:\[\@media_\(prefers-color-scheme\:_dark\)\]\:bd-c_rgb\(85\,_85\,_85\) th,.\[\&_th\,_\&_td\]\:\[\@media_\(prefers-color-scheme\:_dark\)\]\:bd-c_rgb\(85\,_85\,_85\) td {
      border-color: rgb(85, 85, 85);
}
}

  @media (prefers-color-scheme: dark) {
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:hover\:bg_rgb\(30\,_30\,_30\):is(:hover, [data-hover]) {
      background: rgb(30, 30, 30);
}
}

  @media (prefers-color-scheme: dark) {
    .\[\@media_\(prefers-color-scheme\:_dark\)\]\:\[\&\:hover\]\:bg_rgb\(65\,_65\,_65\):hover {
      background: rgb(65, 65, 65);
}
}
}