* {
	box-sizing: border-box;
}

::placeholder {
	color: #ddd;
}

body {
	margin: 0;
	background: #f7f7f7;
	font-size: 14px;
}

#wrap {
	/*padding: 5px 20px;*/
}

h1 {
	font-size: 18px;
	font-weight: normal;
	background: #fff;
	margin: 0;
	padding: 0 20px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	color: #000;
	line-height: 60px;
}

#delivery-list-container {
	padding: 20px;
}

#delivery-list-container > div {
	padding: 20px;
	background: #fff;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
	position: relative;
}

#delivery-list-container > div > div {
	position: relative;
	margin-bottom: 10px;
}

#delivery-list-container p {
  margin: 0;
  line-height: 40px;
  padding: 0 15px;
  border: 1px solid #ddd;
  cursor: pointer;
}

#delivery-list-container p span {
  position: absolute;
  right: 15px;
  font-size: 16px;
  transform: rotate(90deg);
}

ul {
	position: absolute;
	display: none;
	width: 100%;
	padding: 0;
  line-height: 35px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-top: 0;
	list-style: none;
	background: #f9f9f9;
}

ul li {
	padding: 0 15px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

ul li:hover {
	background: #fff;
}

#delivery-list-container input {
  line-height: 40px;
  width: 240px;
  margin: 0;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-right: 1px solid #05c38b;
  font-size: 14px;
  outline: none;
}

#delivery-list-container button {
  border: 1px solid #05c38b;
  border-left: 0;
  line-height: 40px;
  padding: 0;
  background: #00dc9b;
  color: #fff;
  width: 70px;
  font-size: 14px;
  cursor: pointer;
}

#delivery-list-container > div > span {
	position: absolute;
	opacity: 0;
  top: -10px;
  right: -10px;
  line-height: 18px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 20px;
  background: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: opacity 0.3s;
}

#delivery-list-container > div:hover > span {
	opacity: 1;
}


#ps-text {
	margin: 20px 20px 40px;
  background: #fff;
  padding: 20px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
}

#ps-text p {
  line-height: 22px;
  margin-top: 0;
}

#ps-text button {
	display: inline-block;
	width: 120px;
	font-size: 14px;
	line-height: 32px;
	color: #888;
	background: #eee;
	border: 1px solid #ddd;
	cursor: pointer;
}

#add-delivery-section {
	padding: 0 20px 30px;
	border-bottom: 1px solid #eee;
	margin-bottom: 30px;
}

#add-delivery {
	display: inline-block;
	width: 120px;
	font-size: 14px;
	line-height: 32px;
	color: #fff;
	background: #00dc9b;
	border: 1px solid #05c38b;
	cursor: pointer;
}

