* {
	box-sizing: border-box;
}

::placeholder {
	color: #bbb;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 40px;
	margin: 0;
	background: #f7f7f7;
	font-size: 14px;
}

#wrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
}

h1 {
	font-size: 18px;
	font-weight: normal;
	background: #fff;
	margin: 0;
	padding: 0 20px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	color: #000;
	line-height: 49px;
}

a {
	text-decoration: none;
	color: inherit;
	letter-spacing: -0.3px;
	transition: all 0.3s;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	outline: none;
}

table {
	table-layout: fixed;
	width: 100%;
	text-align: center;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-spacing: 0;
	font-size: 13px;
}

th, td {
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

th {
	background: #f5f5f5;
	line-height: 34px;
}

td {
	line-height: 20px;
	padding: 5px;
}



#delivery-list-container {
	padding: 20px 20px 0;
}

#delivery-list-container > div {
	padding: 20px 20px 0;
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
	position: relative;
}

#delivery-list-container > div > div {
	position: relative;
	padding-bottom: 10px;
}

#delivery-list-container > div > div.delivery-code-box {
	padding-bottom: 20px;
}

#delivery-list-container .select-box {
  margin: 0;
  line-height: 40px;
  padding: 0 15px;
  border: 1px solid #ddd;
  cursor: pointer;
}

#delivery-list-container p span {
  position: absolute;
  right: 15px;
  font-size: 16px;
  transform: rotate(90deg);
}

ul {
	position: absolute;
	width: 100%;
	padding: 0;
  line-height: 35px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-top: 0;
	list-style: none;
	background: #f9f9f9;
	z-index: 100;
}

ul li {
	padding: 0 15px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	font-size: 12px;
}

ul li:hover {
	background: #fff;
}

#delivery-list-container .delivery-label {
	line-height: 20px;
	margin: 0 0 10px;
	width: 240px;
	font-size: 13px;
	padding: 0 2px;
	border: 0;
	outline: none;
}

#delivery-list-container .delivery-number {
  line-height: 40px;
  width: 80%;
  margin: 0;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-right: 1px solid #05c38b;
  font-size: 14px;
  outline: none;
}

#delivery-list-container .delivery-btn  {
  border: 1px solid #05c38b;
  border-left: 0;
  line-height: 40px;
  padding: 0;
  background: #00dc9b;
  color: #fff;
  width: 20%;
  font-size: 14px;
	cursor: pointer;
	text-shadow: 0px 0px 2px #05c38b;
	letter-spacing: 1px;
	font-weight: 600;
}

#delivery-list-container .delivery-state-container {
	border-top: 1px solid #eee;
	padding: 20px 0;
}

#delivery-list-container .delivery-state-container .delivery-content-area {
	height: 200px;
	overflow: auto;
	padding: 0 10px 0 0;
}

#delivery-list-container .delivery-state-container .delivery-content-area .loading {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#delivery-list-container .delivery-state-container .delivery-content-area .loading .loading-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 3px solid rgba(255, 255, 255, 0);
	border-radius: 50%;
	border-top-color: #00dc9b;
	border-left-color: #00dc9b;
	animation: spin 0.85s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#delivery-list-container .delivery-state-container .delivery-content-area .error-message {
	padding: 0 2px;
	color: #bbb;
	font-size: 13px;
}

#delivery-list-container .delivery-state-container .delivery-content-area .delivery-summary {
	margin-bottom: 20px;
}

/* #delivery-list-container .delivery-state-container .delivery-content-area .delivery-summary table {

} */

#delivery-list-container .delivery-state-container .delivery-content-area .delivery-state-list table th:first-child {
	width: 35%;
}

#delivery-list-container .delivery-state-container .delivery-content-area .delivery-state-list table td p {
	margin: 5px 0;
}

#delivery-list-container .delivery-state-container .delivery-state-close-btn {
	margin-top: 20px;
	border: 0;
	text-align: center;
	width: 100%;
	font-size: 12px;
	line-height: 36px;
	padding: 0;
	background: #f5f5f5;
	border: 1px solid #ddd;
}

#delivery-list-container > div > span {
	position: absolute;
	opacity: 0;
	top: -10px;
	right: -10px;
	line-height: 28px;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 20px;
	background: #fff;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	cursor: pointer;
	transition: opacity 0.3s;
	font-size: 18px;
}

#delivery-list-container > div:hover > span {
	opacity: 1;
}

#add-delivery-section {
	padding: 0 20px 40px;
}

.add-delivery {
	display: inline-block;
	width: 80px;
	font-size: 14px;
	line-height: 36px;
	color: #fff;
	background: #00dc9b;
	border: 1px solid #05c38b;
	cursor: pointer;
	text-shadow: 0px 0px 2px #05c38b;
	letter-spacing: 1px;
	font-weight: 600;
}

#tip-message {
	padding: 0 20px;
	font-size: 12px;
	color: #444;
}

#tip-message p {
	margin: 5px 0;
}

footer {
	color: #444;
	font-size: 11px;
	font-weight: bold;
	position: fixed;
  bottom: 15px;
  left: 20px;
}

